body {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
}
.fm-table {
	padding-bottom: 40px;
}
.fm-table .line {
	white-space: nowrap;
	position: relative;
}
.cell {
	display: inline-block;
	padding: 2px 0px 2px 5px;
	text-align: right;
	box-sizing: border-box;
	overflow: hidden;
	whitespace: nowrap;
	text-overflow: ellipsis;
	border: 2px solid transparent;
}
.cell.first {
	text-align: left;
	float: left;
	width: 240px;
}
.cell.cell-11 {
	width: 9.09%;
	min-height: 20px;
}
.cell.cell-12 {
	width: 8.333%;
	margin-right: -3px;
}
.cell.cell-13 {
	width: 6.69%;
	margin-right: -3px;
}
.cell .input.non-edit {
	color: red;
}
.cell .input {
	border: none;
	color: blue;
	font-size: 13px;
}
.cell .cell-input {
	outline: none;
	background: none;
	border: 0px;
	font-size: 13px;
	text-align: right;
	width: 100%;
	padding-right: 5px;
	box-sizing: border-box;
}
.item {
	font-size: 12px;
}
.item-1 {
	font-style: italic;
}
.item-2 {
	color: red;
	font-style: italic;
	text-align: right !important;
}
.item-3 {
	font-weight: bold;
}
.item-4 {

}
.right-content {
	display: block;
	margin-left: 240px;
	position: relative;
}
.line.item-2 {
	text-align: left !important;
}
.edit-zone {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: #EEE;
	box-sizing: border-box;
}
.edit-zone .input-wrapper {
	display: block;
	height: 34px;
}
.edit-zone .text-input {
	background: transparent;
	border: 0px;
	outline: none;
	width: 350px;
	height: 100%;
	padding-left: 18px;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 40px;
}
.cell.active {
	border: 2px solid #217346;
}
.color-picker {
	width: 27px;
	height: 27px;
	border: 0px;
	outline: none;
	cursor: pointer;
	color: transparent;
}
.colorpicker.dropdown {
	position: fixed;
	bottom: 50px;
	top: auto !important;
}
.control {
	display: inline-block;
	float: right;
	margin-top: 9px;
	padding-right: 9px;
}
