<!DOCTYPE html>
<html ng-app="FinancialApp">
	<head>
		<title>Financial Model - TechcomSecurities - tcbs.com.vn</title>
		<link rel="stylesheet" href="res/css/bootstrap.min.css" />
		<link rel="stylesheet" href="res/css/colorpicker.min.css" />
		<link rel="stylesheet" href="res/css/style.css" />

		<!-- library -->
		<script src="res/library/jquery-2.1.3.min.js"></script>
		<script src="res/library/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
		<script src="res/library/jstat.min.js"></script>
		<script src="res/library/numeric-1.2.6.js"></script>
		<script src="res/library/picore.js"></script>

		<script src="res/library/excel/pi.main.js"></script>
		<script src="res/library/excel/utils.js"></script>
		<script src="res/library/excel/database.js"></script>
		<script src="res/library/excel/date-time.js"></script>
		<script src="res/library/excel/engineering.js"></script>
		<script src="res/library/excel/error.js"></script>
		<script src="res/library/excel/financial.js"></script>
		<script src="res/library/excel/information.js"></script>
		<script src="res/library/excel/logical.js"></script>
		<script src="res/library/excel/lookup-reference.js"></script>
		<script src="res/library/excel/math-trig.js"></script>
		<script src="res/library/excel/text.js"></script>
		<script src="res/library/excel/miscellaneous.js"></script>
		<script src="res/library/excel/statistical.js"></script>
		<script src="res/library/excel/compatibility.js"></script>
		<script src="res/js/base/excel.conversion.js"></script>
		<script src="res/js/base/excel.helper.js"></script>


		<script src="res/library/bootstrap-colorpicker-module.min.js"></script>
		
		<!-- js code -->
		<script src="res/js/config.js"></script>
		<script src="res/js/bootstrap.js"></script>
		<script src="res/js/base/FormatUtils.js"></script>
		
		<script src="res/js/model/ReportModel.js"></script>
		<script src="res/js/service/ReportService.js"></script>
		<script src="res/js/controller/FinancialController.js"></script>
	</head>
	<body ng-controller="FinancialController">
		<div class="fm-table" ng-init="colCount = rawLine[0].length">
			<div class="line">
				<div class="cell first">P&L</div>
				<div class="right-content">
					<div class="cell cell-{{colCount}}" ng-repeat="row in rawLine[0]">
						{{row}}
					</div>
				</div>
			</div>
				
			<div class="line item-{{rawLine[1][$index].type}}" ng-repeat="row in model.rangeCol">
				<div class="cell first item item-{{rawLine[1][$index].type}}">
					{{rawLine[1][$index].name}}
				</div>
				<div class="right-content">
					<div class="cell cell-{{colCount}}" ng-repeat="col in model.rangeRow" ng-init="varName=col + '' + row" ng-click="editCommand(varName)"
						ng-style="cellSetting[varName].style" 
						ng-class="{'active': model.curEditCell == varName}"> 
						<input class="cell-input" type="text" ng-model="excelValue[varName]" readonly="readonly" ng-change="inputChange()"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="edit-zone">
			<div class="input-wrapper">
				<input ng-model="curCommand" ng-change="commandEdited()" class="text-input" type="text" placeholder="Excel formular" />
				<input class="color-picker" colorpicker type="text" ng-model="rgbPicker['background-color']" ng-style="rgbPicker"/>
				<div class="control">
					<button>Save</button>
					<button ng-click="saveTemplate()">Save template</button>
				</div>
			</div>
		</div>
	</body>
</html>